<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> 
  
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="rgba(28,150,162,1)"/>
  
  <link rel="icon" type="image/png"href="./images/icon/favicon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  

  <title> Tugas Subsmission Katalog Restoran + PWA by iL'Abz128 </title>

  

</head>
<body>
  <header>
    <a href="#maincontent" class="skip-link">Skip Content</a>
    <a id="menu" class="off-canvas" href="#">☰</a>
    <nav id="drawer" class="nav menu">
        <a href="/" class="logo">iL'Abz128 RESTO</a>
        <a href="/" class="menu-item">Home</a>
        <a href="#/favorites" class="menu-item">Favorite</a>
        <a href="https://www.instagram.com/ilham_azizzz/" class="menu-item" target="_blank">About Us</a>
    </nav>

  </header>

  <tron-jumbo></tron-jumbo>
  
  <main id="maincontent" tabindex="0"></main>

  <footer>Copyright <i class="fa-regular fa-copyright"></i> 2023 - Subsmission Dicoding by iL'Abz128</footer>

  <script src="./views/app.js"></script>
  <script src="./views/index.js"></script>
  <script src="./utils/drawer.js"></script>
</body>
</html>
